*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.booter{
    height: 150px;
    background-color: #333333;
}
.booter .desc{
    color: #FFFFFF;
    float: left;
    font: 700 25px "Microsoft Yahei";
}
.booter .lg{
    float: left;
}
.booter .boot_content ul li a{
    float: left;
    color: #FFFFFF;
    font: 16px "Microsoft Yahei";
    text-decoration: none;
}