
/*盒子*/
.headerwrap{
    text-align: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EDEDED;
    margin-top: 0;
    position: relative;
}
.headerwrap .nav{
    margin: 0 auto;
    height: 50px;
    width: 1348px;
    position: relative;
}
.headerwrap .nav ul li{
    width: 150px;
    font:500 16px/50px "Microsoft Yahei";
    float: left;
}
.headerwrap .nav ul li a{
    color: #666666;
}
.nav ul li a:hover{
    text-decoration: none;
    color: #55B1E4;
}
.headerwrap .nav .fa,.fa-home{
    font-size: 30px;
    line-height: 51px;
}
/*我*/
.headerwrap .nav .me{
    border-radius: 50%;
    margin-top:10px;
    float: left;
}
.headerwrap .nav .my_name{
	margin-bottom:10px;
	margin-left:10px;
	float:left;
}
/*我的校园*/
.headerwrap .nav .compus{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 300px;
    top: 50px;
    border: 1px solid #EDEDED;
    display: none;
    text-align: center;
    background-color: #fff;
    z-index: 11;
}
.headerwrap .nav  ul{
    margin: 0;
    padding: 0;
}
.headerwrap .nav .compus ul li{
    text-align: center;
    width: 150px;
}
/* .headerwrap .nav .compus ul li a .myConpus{
	padding-top:20px;
    line-height: 39px;
} */
.headerwrap .nav ul li .myConpus{
    line-height: 39px;
}

#draw {
	height:50px;
}



.headerwrap .nav .compus ul li:hover{
    background-color: #eee;
}
/*我的信息*/
.headerwrap .nav .myMessage{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 870px;
    background-color:#fff;
    top: 50px;
    border: 1px solid #EDEDED;
    display: none;
    z-index: 10;
}
.headerwrap .nav .myMessage li{
    text-align: center;
    width: 150px;
}
.headerwrap .nav .myMessage li:hover{
    background-color: #eee;
}

