*{
    padding: 0;
    margin: 0;
}
body,ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

/*头部*/
.headerwrap{
    text-align: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EDEDED;
}
.headerwrap .nav{
    margin: 0 auto;
    height: 50px;
    width: 80%;
    position: relative;
}
/*我的头像*/
.headerwrap .nav .me{
    border-radius: 50%;
}
.nav ul li{
    display: inline-block;
    width: 150px;
    font:500 16px/50px "Microsoft Yahei";
    float: left;
}
.nav ul li a{
    color: #666666;
}
.nav ul li a:hover{
    text-decoration: none;
    color: #55B1E4;
}
.nav .fa,.fa-home{
    font-size: 30px;
    line-height: 51px;
}
/*我的校园信息*/
.nav .compus{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 300px;
    top: 50px;
    border: 1px solid #EDEDED;
    display: none;
    text-align: center;
}
.nav  ul{
    margin: 0;
    padding: 0;
}
.nav .compus ul li{
    text-align: center;
    width: 150px;
}
.nav .compus ul li a .myConpus{
    line-height: 39px;
}
.nav .compus ul li:hover{
    background-color: #eee;
}
/*我的下拉框*/
.nav .myMessage{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 905px;
    top: 50px;
    border: 1px solid #EDEDED;
    display: none;
}
.nav .myMessage li{
    text-align: center;
    width: 150px;
}
.nav .myMessage li:hover{
    background-color: #eee;
}

