*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
.content{
    width: 1249px;
    margin: 55px auto;
}
/*左边导航栏*/
/*左边的盒子*/
.content .content_left{
    position: relative;
    float: left;
    width: 190px;
    height: 480px;
    text-align: center;
    background-color: #6E6568;
    /* background-color: #00ABEB; */
}
/*ul*/
.content .content_left .left_nav{
    display: inline-block;
    margin-top:30px;
    list-style: none;
}

/*左边导航栏*/
.content .content_left .left_nav li{
    display: block;
    width: 190px;
    height: 70px;
    line-height:70px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.content .content_left .left_nav li:hover{
    background-color: #999395;
}
/*左边导航文字链接*/
.content .content_left .left_nav li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
/*滑动显示内容*/
.content .content_left .detail{
    height: 450px;
    width: 510px;
    color: white;
    position: absolute;
    left: 190px;
    top: 30px;
    background-color: #6E6568;
    opacity: 0.8;
    display: none;
    z-index: 2;
}

.content .content_left .detail .detail_title{
    border-bottom: solid 1px #474a4c;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    font-weight: 700;
}
.content .content_left .detail .detail_all{
    height: 430px;
}
.content .content_left .detail .detail_all a{
    float: left;
    width: 115px;
    height: 19px;
    color: white;
    margin-left: 10px;
    font-size: 14px;
    line-height: 19px;
    margin-top: 30px;
    text-decoration: none;
}
.content .content_left .detail .detail_all a:hover{
    text-decoration: underline;
}

/*轮播图*/
#main ul{
    list-style:none;
    border:0;
    width: 1059px;
    overflow: hidden;
}
#main{
    width: 1059px;
    height: 480px;
    position: relative;
    overflow: hidden;
}
.pointList{
    position: absolute;
    height: 20px;
    width: 184px;
    left: 430px;
    bottom: 20px;
    font-size: 0;
    padding: 4px auto;
    border-radius: 12px;
    background-color: hsla(0,0%,100%,0.3);
    display: block;
}
.pointer{
    position: relative;
    bottom: -4px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    left: 8px;
    buttom:10px;
    background-color: #fff;
}
#arr span{
    width:30px;
    height:60px;
    position:absolute;
    left: auto;
    top:220px;
    margin-top:-20px;
    background:#000;
    cursor:pointer;
    line-height:60px;
    text-align:center;
    font-weight:bold;
    font-size:30px;
    color:#fff;
    opacity:0;
}
#right {
    position: fixed;
    background-color: deeppink;
    left: auto;
    right: 0;
}
#main li{
    cursor: pointer;
}
/*新闻模块*/
.content .news{
    height: 300px;
    margin-top:30px;
}
.content .news .new{
    width: 390px;
    height: 100%;
    float: left;
    margin-left: 20px;
    background-color: #fff;
    border: 1px solid #E2E2E2;
}
.content .news .new .title_text{
    font: 700 20px "Microsoft Yahei";
    color: white;
}
.content .news .new .fa{
    font-size: 20px;
}
.content .news .new dt{
    background-image: linear-gradient(to right,#29A2E3,#40D0FF);
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}
/*框顶颜色*/
.content .news .new_apply dt{
    background-image: linear-gradient(to right,#29A2E3,#40D0FF);
}
.content .news .new_work dt{
    background-image: linear-gradient(to right,#EBA111,#FFC21C);
}
.content .news .new_talk dt{
    background-image: linear-gradient(to right,#6AC936,#8DDF34);
}
/*图标的颜色*/
.content .news .new_apply dt .fa{
    color: #40D0FF;
}
.content .news .new_work dt .fa{
    color: #FFC21C;
}
.content .news .new_talk dt .fa{
    color: #8DDF34;
}

.content .news .new dd .dd_content_wrap{
    border-bottom: 1px solid #eee;
    height: 49px;
    width: 80%;
    margin: 0 auto;
}
.content .news .new dd .dd_content_wrap .news_info_text p{
    float: left;
    width: 200px;
}
.content .news .new dd .dd_content_wrap .btn_apply{
    float: left;
    border: 1px solid #55B1E4;
    text-decoration: none;
    color: #55B1E4;
    border-radius: 4px;
    text-align: center;
    width: 74px;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 7px;
}

.content .news .new dd .dd_content_wrap .btn_apply:hover{
	background-color: #55b1e4;
	color: white;
}
.content .news .new dd .news_info_text a{
    text-decoration: none;
    color: #333;
    font-size: 12px;
    line-height: 50px;
}

/*各个模块*/
.model{
    margin:10px auto;
    width: 1249px;
    height: 305px;
    /*border:1px solid red;*/
}
/*模块1标题导航*/
.model .pro_nav{
    height: 55px;
    /*background-color: #E01222;*/
    background-image: linear-gradient(to right,#BC7219,#A05C2E);
}
.model .pro_nav span{
    color: white;
    font-family: "Microsoft Yahei";
}

/*吃货模块标题文字*/
.model .pro_nav .des_title{
    font-size:30px;
    line-height:55px;
    padding-left:50px;
}

/*吃货模块内容*/
.model .pro_content ul{
    /*width: 1260px;*/
    height: 225px;
    /*border:1px solid red;*/
}

/*初始化ul*/
.model .pro_content  ul{
    margin-top:10px;
    text-align: center;
    list-style: none;
}

/*列出所有的类*/
.model .pros_content  ul li{
    margin-top:15px;
    margin-left:15px;
    display: inline-block;
    text-align: center;
    width: 180px;
    height: 116px;
    /*border:1px solid orange;*/
    position: relative;
}


/*改变字体*/
.model .pros_content  ul li a{
    text-decoration: none;
    color: #EDC03F;
}
/*类别的文字描述*/
.model .pros_content  ul li a .des_word{
    font-size:16px;
    color: #B77D66;
    z-index: 3;
}
/*给其添加遮罩层*/
.model .pros_content ul li .mask{
    position: absolute;
    left: 0;
    top: -5px;
    width: 180px;
    height: 110px;
    background-color: #000;
    opacity: 0.6;
    z-index: 10;
    font-size: 14px;
    color: white;
    line-height: 110px;
    display: none;
}
.model .pros_content  ul li a:hover .mask{
    display: block;
}

/*左边导航栏*/
/*左边列表*/
.left_list{
    width: 34px;
    height: 370px;
    background-color: #918888;
    position: fixed;
    left: 10px;
    top:95px;
}

.left_list ul li{
    font-family: "Microsoft Yahei";
    text-align: center;
    /*line-height: 40px;*/
}

.left_list ul li a{
    padding-top:12px;
    text-decoration: none;
    color: #FEFEFE;
    display: block;
    cursor: pointer;
    height: 40px;
    font-size:10px;
    border-bottom:1px solid #B1AAAA;
}

.left_list ul li a:hover{
    /* background-color: #E01222; */
    background-color: #00ABEB;
}



