/*通知界面css样式*/
.mainWrapper{
    width: 990px;
    height: 574px;
    border: 1px solid #DCDDDE;
    margin: 20px auto;
    box-shadow: 0 -1px 5px rgba(184,184,184,0.75);
}
/*左边盒子*/
.mainWrapper .leftWrapper{
    width: 171px;
    height: 100%;
    border-right: 1px solid #DCDDDE;
    background-color: #F2F4F5;
    float: left;
}

.mainWrapper .leftWrapper .userImageWrapper{
    width: 100%;
    height: 138px;
    float: left;
    border-bottom: 1px solid #DCDDDE;
    margin-top: 10px;
}
.mainWrapper .leftWrapper .userImageWrapper .user_img{
    width: 103px;
    height: 103px;
    border: 1px solid #DCDDDE;
    margin: 0 auto;
}
.mainWrapper .leftWrapper .userImageWrapper h4{
    text-align: center;
    margin-top: 10px;
}
.mainWrapper .leftWrapper .leftNav{
    float: left;
    margin-top: 30px;
    border-bottom: 1px solid #DCDDDE;
}
.mainWrapper .leftWrapper .leftNav li{
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
}
.mainWrapper .leftWrapper .leftNav li a{
    color: #333;
    font-size: 16px;
}
.mainWrapper .leftWrapper .leftNav li:hover{
    background-color: #D5E1EC;
}
.mainWrapper .leftWrapper .leftNav .currSel{
    font-weight: bold;
    color: #4483bf;
}


/*右边*/
.mainWrapper .rightWrapper{
    float: left;
    width: 818px;
    height: 57px;
    display:none;
}
.mainWrapper .rightWrapper .topWrapper{
    width: 100%;
    height: 57px;
    border-bottom: 2px solid #D5E1EC;
    float: left;
}
.mainWrapper .rightWrapper .topWrapper .tabWrapper ul{
    margin-left: 10px;
}
.mainWrapper .rightWrapper .topWrapper .tabWrapper ul li{
    float: left;
    width: 75px;
    height: 25px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    line-height: 25px;
    background: #fff;
    color: #336699;
    margin-left: 5px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.mainWrapper .rightWrapper .topWrapper .tabWrapper ul .current{
    height: 27px;
    font-weight: bold;
    color: #333;
}

/* 右下内容 */
.mainWrapper .right_content{
	width: 700px;
	height: 300px;
	float: left;
	margin: 50px auto;
	padding-left:60px;
	display: none;
}

.mainWrapper .right_content .nav_title{
	font-weight: bold;
    color: #4483bf;
}

.mainWrapper .right_content form{
	height: 250px;
}

.mainWrapper .right_content form ul li{
	margin-top: 20px;
	font-size:12px;
}

.mainWrapper .right_content form ul .nL_listName{
	display: inline-block;
    width: 60px;
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
    line-height: 35px;
    color: #666;
}

.mainWrapper .right_content form ul li img-x-validate-error{
	background: url(../images/notice/tips_spirit.jpg) no-repeat scroll 0 4px transparent;
}

.mainWrapper .right_content form ul li .nL_validate_tips{
	background: url(../images/notice/tips_spirit.jpg) no-repeat scroll 0 4px transparent;
    background-position: 0 2px\9;
    color: #FF6633;
    padding-left: 12px;
    color: #fc8e00;
    vertical-align: middle;
}

.mainWrapper .right_content form  .revisePwd{
	background-color: #9ecf36;
	background-image: -webkit-linear-gradient(top, #91e06d, #5eb937);
	border:1px solid #4D954D;
	width:217px;
	height:37px;
	color:white;
	cursor:pointer;
	margin:50px;
	border-radius: 10px;
}

.mainWrapper .right_content form  .revisePwd:hover{
	background-color: #41993b;
	background-image: -webkit-linear-gradient(top, #5cba5c, #51a351);
	
	/* #9ecf36 */
}




